Source: service-provider-memory-inspection
Priority: optional
Maintainer: Robert Burger <robert.burger@dlr.de>
Build-Depends: debhelper-compat (= 13), autotools-dev
Standards-Version: 4.5.1
Section: libs
Homepage: https://www.burger-system.de/robotkernel/service_provider_memory_inspection
Vcs-Browser: https://github.com/robotkernel-hal/service_provider_memory_inspection.git
Vcs-Git: https://github.com/robotkernel-hal/service_provider_memory_inspection.git
Rules-Requires-Root: no

Package: service-provider-memory-inspection-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: robotkernel-dev (= ${binary:Version}), ${misc:Depends}
Description: TODO

Package: service-provider-memory-inspection
Architecture: any
Multi-Arch: same
Depends: robotkernel ${misc:Depends}
Description: TODO
